.reviews {
   background-image: url(../images/bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 38px 0 82px;
   color: #fff;
}

.reviews__title {
   margin: 0 auto 48px;
   max-width: 384px;
}

.title {
   font-size: 35px;
   line-height: 45px;
}

.reviews__items {
   /* max-width: 1000px; */
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.reviews__item {
   width: 320px;
   border-radius: 5px;
   background-color: rgb(255, 255, 255, 0.2);
   padding: 35px 20px;
   margin: 0px 15px;
}

.reviews__item-head {
   margin-bottom: 13px;
   display: flex;
   line-height: 20px;
}

.reviews__item-head img {
   border-radius: 50%;
   margin-right: 20px;
}

.reviews__item-name {
   font-weight: 600;
}

.reviews__item-position {
   opacity: 0.5;
}

.reviews__item-text {
   text-align: center;
   padding-top: 39px;
   position: relative;
   line-height: 20px;
}

.reviews__item-text::before {
   content: "“";
   font-size: 40px;
   line-height: 55px;
   font-weight: 700;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}