* {
    box-sizing: border-box;
}
.body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 15px;
    line-height: 24px;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    background-image: url(../images/header-bg.jpg);
    min-height: 793px;
    background-repeat: no-repeat;
    background-size: cover;
    border-spacing: top center;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: "Source Sans Pro";
}
.menu_list {
    display: flex;
}
.menu_list li + li {
    padding-left: 50px;
}
.login {
    margin-right: 44px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
.menu_list a {
    opacity: 0.5;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.5s;
}
.menu_list a:hover {
    opacity: 1;
}
.sign-up {
    color: #250f8a;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    padding: 8px 43px;
    border-radius: 20px;
}
.header-slider {
    padding-top: 111px;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
}
.header-slider_item-content {
    display: flex;
    justify-content: space-between;
}
.header-slider_item-info {
    max-width: 506px;
}
.header-slider_title {
    font-weight: bold;
    font-size: 45px;
    line-height: 60px;
    margin-bottom: 10px;
}
.header-slider-description {
    font-size: 24px;
    line-height: 55px;
    margin-bottom: 60px;
}
.header-slider-btn {
    text-transform: uppercase;
    color: #250f8a;
    font-weight: 600;
    padding: 13px 39px;
    border-radius: 25px;
    background: #ffca00;
}
.header-slider_item-img {
    margin: 10px 82px 0 0;
}
.header-dots {
    list-style: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: scaleY(-50%);
}
.header-dots button {
    border: none;
    background-color: #fff;
    opacity: 0.5;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    font-size: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    margin: 10px auto;
    display: block;
}
.header-dots .slick-active button {
    width: 15px;
    opacity: 1;
}
.specialise {
    font-family: "Source Sans Pro", sans-serif;
    padding: 55px 0 93px;
    background-image: url(../images/style.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    color: #202020;
    text-align: center;
}
.specialise_title {
    margin-bottom: 96px;
}
.title {
    line-height: 45px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
.specialise_items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
}
.specialise_item {
    width: 280px;
}
.specialise_item-img {
    margin-bottom: 23px;
    min-height: 159px;
}
.specialise_item-title {
    margin-bottom: 11px;
    font-size: 20px;
    font-weight: 700;
}
.specialise_item-text {
    padding: 0 10px;
    color: #272727;
    opacity: 0.7;
}

.advantages {
    padding-top: 64px;
    background-color: #f4f9fd;
    background-image: url(../images/style_right.svg);
    background-position: center right;
    background-repeat: no-repeat;
}
.advantages-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 76px;
}
.advantaged-box--right .advantages-box_info {
    order: 1;
    background-image: url(../images/path-2.svg);
    background-position: 22px 130px;
}
.advantages-box_info {
    max-width: 456px;
    padding-top: 60px;
    background-image: url(../images/path.svg);
    background-repeat: no-repeat;
    background-position: 5px 105px;
}
.advantages-box_info--bg {
    background-image: url(../images/path-3.svg);
    background-position: 22px 76px;
}
.advantages-box_title {
    font-size: 35px;
    line-height: 45px;
    color: #202020;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    padding: 68px 0 15px 48px;
}
.advantages-box_text {
    font-family: "Source Sans Pro", sans-serif;
    padding-left: 48px;
    color: #272727;
}
.advantages-box_text p {
    margin: 12px 0;
}
.reviews {
    font-family: "Source Sans Pro", sans-serif;
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 38px 0 82px;
    color: #fff;
}
.reviews_title {
    margin: 0 auto 48px;
    max-width: 384px;
}
.title {
    font-size: 35px;
    line-height: 45px;
}
.reviews_items {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.reviews_item {
    width: 300px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 35px 20px;
}
.reviews_item-head {
    margin-bottom: 13px;
    display: flex;
}
.reviews_item-head img {
    border-radius: 50%;
    margin-right: 20px;
}
.reviews_item-name {
    font-weight: 600;
}
.reviews_item-position {
    opacity: 0.5;
}
.reviews_item-text {
    text-align: center;
    padding-top: 39px;
    position: relative;
}
.reviews_item-text::before {
    content: "“";
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.footer_inner {
    font-family: "Source Sans Pro", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    color: #272727;
    padding: 0 40px;
}
.footer_link a + a {
    margin-left: 20px;
}

@media (max-width: 1620px) {
    .advantages {
        background-image: none;
    }
}
@media (max-width: 1201px) {
    .specialise {
        background-size: 60px;
    }
}

@media (max-width: 1190px) {
    .header-slider_item-img {
        margin: 50px 20px 0 0;
    }
    .header-slider_item-img img {
        width: 80%;
    }
    .header-slider_item-info {
        padding: 50px 0;
    }
    .header_slider {
        padding-top: 25px;
    }
    .advantages-box_images img {
        width: 80%;
    }
    .advantages-box {
        justify-content: space-around;
    }
}

@media (max-width: 1201px) {
    .specialise {
        background-image: none;
    }
}

@media (max-width: 900px) {
    .header-slider_item-img {
        display: none;
        top: 50%;
    }
}

@media (max-width: 924px) {
    .header_top {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .header-btn {
        width: 100%;
        text-align: right;
    }
    .login {
        margin-right: 30px;
    }
}

@media (max-width: 775px) {
    .specialise {
        padding: 20px 0 40px;
        margin-bottom: 40px;
    }
    .specialise_items {
        flex-wrap: wrap;
    }
    .specialise_item {
        width: 50%;
        margin-bottom: 20px;
    }
}

@media (max-width: 570px) {
    .menu_list {
        display: none;
        position: absolute;
        top: 120px;
        width: 100%;
        text-align: center;
        left: 0;
        background-color: #1a50a8;
        z-index: 5;
    }
    .menu_list li + li {
        padding-left: 0;
    }
    .menu_list a {
        display: block;
        padding: 10px 0;
    }
    .menu_btn {
        width: 30px;
        height: 20px;
        position: relative;
    }
    .menu_btn span {
        width: 100%;
        background-color: #fff;
        height: 2px;
        top: 9px;
        position: absolute;
    }
    .menu_btn::after,
    .menu_btn::before {
        content: "";
        width: 100%;
        background-color: #fff;
        height: 2px;
        position: absolute;
    }
    .menu_btn::after {
        top: 0;
    }
    .menu_btn::before {
        bottom: 0;
    }
}
.header-slider_item-info {
    padding: 10px 30px 10px 0;
}
.header {
    min-height: 580px;
}
.header-slider-description {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 35px;
}
.header-slider_title {
    font-size: 30px;
    line-height: 40px;
}
.specialise_items {
    display: block;
}
.specialise_item {
    width: 100%;
}

@media (min-width: 570px) {
    .menu_list {
        display: flex !important;
    }
}
